/* Add global styles here */

.sd-question__header {
  text-align: center;
}

.sd-scrollable-container {
  display: flex;
  justify-content: center;
}

.sd-scrollable-container:not(.sd-scrollable-container--compact) {
  width: 100% !important;
}

.sd-action-bar {
  display: flex;
  justify-content: center;
  gap: 12px; /* ボタン同士の間隔（任意） */
}

.sd-title {
  text-align: center;
}